# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/out/one-bit.dir/Debug
/out/x64/Debug/ZERO_CHECK
/out/ZERO_CHECK.vcxproj.filters
/out/ZERO_CHECK.vcxproj
/out/one-bit.vcxproj.user
/out/one-bit.vcxproj.filters
/out/one-bit.vcxproj
/out/one-bit.sln
/out/cmake_install.cmake
/out/CMakeCache.txt
/out/ALL_BUILD.vcxproj.user
/out/ALL_BUILD.vcxproj.filters
/out/ALL_BUILD.vcxproj
/out/Debug
/out/CMakeFiles
/out/build/x64-Debug/CMakeFiles
/out/build/x64-Debug
/out/.vs/one-bit/v16
/.vs
