name: ci_build

on: [push]

jobs: 
  build: 
    runs-on: windows-latest
    steps: 
    # Install latest CMake.
    - task: Cache@2
      displayName: 'Cache vcpkg's artifacts'
      inputs:
        key: $(Build.SourcesDirectory)/vcpkg_x64-linux.txt | "$(vcpkgGitRef)" | "$(Agent.OS)"
        path: '$(Build.BinariesDirectory)/vcpkg'
     
     - task: run-vcpkg@0
       uses: lukka/run-vcpkg@v3
       displayName: 'Run vcpkg'
       inputs:
        # commit id for exact vcpkg's version to fetch
        vcpkgGitRef: ee17a685087a6886e5681e355d36cd784f0dd2c8
         vcpkgArguments: @$(Build.SourcesDirectory)/vcpkg_x64-linux.txt
         # Specify the exact commit id to fetch.
         vcpkgGitCommitId: $(vcpkgGitRef)

     - uses: lukka/get-cmake@latest
    
     - task: run-cmake@0
       displayName: 'Run CMake with CMakeLists.txt'
       inputs:
         cmakeListsOrSettingsJson: 'CMakeLists'
         cmakeListsTxtPath: CMakeLists.txt
         useVcpkgToolchainFile: true'

    - name: Install Qt
      uses: jurplel/install-qt-action@v2.6.3

    - name: Setup OpenCV
      uses: Dovyski/setup-opencv-action@v1
      with:
        opencv-version: '4.2.0'
        
    - name: get code
      uses: actions/checkout@v2
    
        
    - name: Build c++ project
      uses: nicledomaS/cmake_build_action@v1
      with:
        config: release
