name: ci_build

on: [push]

jobs: 
  build: 
    runs-on: windows-latest
    steps: 
    # Install latest CMake.
    - uses: lukka/get-cmake@latest
    - uses: lukka/run-vcpkg@v3
      variables:
        # Exact vcpkg's version to fetch, commig id or tag name.
        vcpkgGitRef: ee17a685087a6886e5681e355d36cd784f0dd2c8
        
  # Cache/restore the vcpkg's build artifacts.
  - task: Cache@2
    displayName: 'Cache vcpkg's artifacts'
    inputs:
      key: $(Build.SourcesDirectory)/vcpkg_x64-linux.txt | "$(vcpkgGitRef)" | "$(Agent.OS)"
      path: '$(Build.BinariesDirectory)/vcpkg'
     
   - task: run-vcpkg@0
     displayName: 'Run vcpkg'
     inputs:
       vcpkgArguments: @$(Build.SourcesDirectory)/vcpkg_x64-linux.txt
       # Specify the exact commit id to fetch.
       vcpkgGitCommitId: $(vcpkgGitRef)
       # URL to fetch vcpkg from (default is the official one).
       vcpkgGitURL: http://my.vcpkg.fork.git/

   - task: run-cmake@0
     displayName: 'Run CMake with CMakeSettings.json'
     inputs:
       cmakeListsOrSettingsJson: 'CMakeSettingsJson'
       useVcpkgToolchainFile: true
       # Build all configurations whose name starts with "Linux".
       configurationRegexFilter: 'Linux.*'

    # Install latest Qt
    - name: Install Qt
      uses: jurplel/install-qt-action@v2.6.3

    - name: Setup OpenCV
      uses: Dovyski/setup-opencv-action@v1
      with:
        opencv-version: '4.2.0'
        
    # get the code
    - uses: actions/checkout@v2
    
        
    - name: Build c++ project
      uses: nicledomaS/cmake_build_action@v1
      with:
        config: release
