name: ci_build

on: [push]

jobs: 
  build: 
    runs-on: windows-latest
    steps: 
    # Install latest CMake.
    - uses: lukka/get-cmake@latest

    - name: run vcpkg
      uses: lukka/run-vcpkg@v3
      with:
      inputs:
        # commit id for exact vcpkg's version to fetch
        vcpkgGitRef: ee17a685087a6886e5681e355d36cd784f0dd2c8
        vcpkgArguments: @$(Build.SourcesDirectory)/vcpkg_x64-linux.txt
        # Specify the exact commit id to fetch.
        vcpkgGitCommitId: $(vcpkgGitRef)

    # Install latest Qt
    - name: Install Qt
      uses: jurplel/install-qt-action@v2.6.3

    - name: Setup OpenCV
      uses: Dovyski/setup-opencv-action@v1
      with:
        opencv-version: '4.2.0'
        
    # get the code
    - uses: actions/checkout@v2
    
        
    - name: Build c++ project
      uses: nicledomaS/cmake_build_action@v1
      with:
        config: release